
body {
}

#main {
    padding: 0px;
}

body ,
#main .doc {
    background-color: #F0F0F0;
}

#main > h1 {
    margin: 0.6em 0.1em;
}
#main > .code {
    margin: 0px 1em;
    padding: 4pt;
    background-color: white;
    border: 1px solid #dedede;
}

#main .doc {
    margin: 0.6em 4pt;
}

#main details {
    border: 1px solid #dedede;
    background-color: #E5F3FE;
    margin-top: 8px;
}

#main details summary {
    cursor: pointer;
    margin: 3px;
    padding: 2px;
}

#main details > .details-content {
    background-color: white;
}
